<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
  PUBLIC '-//Apple//DTD PLIST 1.0//EN'
  'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version="1.0">
	<dict>
		<key>Actions</key>
		<array>
			<dict>
				<key>AppleScript File</key>
				<string>CuriotaClip.applescript</string>
				<key>Image File</key>
				<string>CuriotaClip.png</string>
				<key>Title</key>
				<string>Clip to Curiota</string>
			</dict>
		</array>
		<key>Apps</key>
		<array>
			<dict>
				<key>Bundle Identifier</key>
				<string>com.demastrie.curiota</string>
				<key>Check Installed</key>
				<false/>
				<key>Link</key>
				<string>http://demastrie.com</string>
				<key>Name</key>
				<string>Curiota</string>
			</dict>
		</array>
		<key>Credits</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Michael Demastrie</string>
			</dict>
		</array>
		<key>Extension Description</key>
		<string>Clip the selected text to Curiota.</string>
		<key>Extension Identifier</key>
		<string>com.demastrie.popclip.extension.curiota</string>
		<key>Extension Image File</key>
		<string>CuriotaClip.png</string>
		<key>Extension Name</key>
		<string>Curiota</string>
	</dict>
</plist>